@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
  box-sizing: border-box;
  transition: all ease .2s;
}

body {
  font-family: "Roboto", sans-serif;
}

h8{
  color: #454545;
  font-size: 20px;
  text-align: center;
  line-height: 120%;
}
